/* src/components/About.css */

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #d1ecf1; /* Cor de fundo mais agradável (pode ser ajustada) */
}

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-text {
    flex: 1;
    text-align: left;
    padding-right: 20px;
}

.about-photo {
    flex: 1;
}

.about-photo img {
    max-width: 100%;
    height: auto;
    border-radius: 50%; /* Adiciona borda circular à foto */
}

.about-content h1 {
    font-size: 2.5rem;
    margin-top: 20px;
}
